### Задание 1. Не использую готовые решения, реализовать SVD разложение используя SGD на explicit данных

In [1]:
import time
import pandas as pd
import numpy as np
import copy as c

from tqdm import tqdm

ratings = pd.read_csv('ml-1m/ratings.dat', delimiter='::', header=None,
                      names=['user_id', 'movie_id', 'rating', 'timestamp'],
                      usecols=['user_id', 'movie_id', 'rating'], engine='python')

movie_info = pd.read_csv('ml-1m/movies.dat', delimiter='::', header=None,
                         names=['movie_id', 'name', 'category'], engine='python')

implicit_ratings = ratings.loc[(ratings['rating'] >= 4)]

EPS = 1e-5
TOY_MOVIE_ID = 1
TEST_USER_ID = 4

def calc_score(rate, n, w, h, shift_w=0, shift_h=0, l=0):
    users = rate.to_numpy()[:, 0] - 1
    movies = rate.to_numpy()[:, 1] - 1
    score = rate.to_numpy()[:, 2]
    return np.linalg.norm(np.array(w @ h + shift_w + shift_h + l)[users, movies] - score) / n


def similars(rate, index, count):
    distances = [[x, np.linalg.norm(np.linalg.norm(old_h[:, x - 1] - old_h[:, index - 1]))]
                 for x in (rate.movie_id.sort_values().unique())]
    distances.sort(key=lambda x: x[1])
    return pd.concat([movie_info.loc[movie_info.movie_id == i] for i in [i[0] for i in distances[:count + 1]]])

recommend = lambda index, qty: pd.concat([movie_info.loc[movie_info.movie_id == i]
               for i in ([i for i in (np.argsort(np.array(s)[index - 1])[::-1] + 1)
                          if i not in set(ratings.loc[ratings.user_id == index].movie_id)][:qty])])

In [2]:
start_time = time.time()


def svg(qty_features, learning_rate, reg_parameter, rmse_rate, qty_it):
    n = ratings.shape[0]
    w = np.random.uniform(0, 1 / np.sqrt(qty_features), (ratings.user_id.max(), qty_features))
    h = np.random.uniform(0, 1 / np.sqrt(qty_features), (qty_features, ratings.movie_id.max()))
    shift_w = np.random.normal(2.5, 0.5, ratings.user_id.max()).reshape(-1, 1)
    shift_h = np.random.normal(2.5, 0.5, ratings.movie_id.max()).reshape(1, -1)
    l = np.mean(ratings.rating.mean())
    score = -1
    iteration = 0
    while iteration < qty_it:
        if iteration % rmse_rate == 0:
            score = calc_score(ratings, n, w, h, shift_w, shift_h, l)
            if score > EPS:
                print("Current iteration %d working time: %s seconds.\n RMSE = %.8f\n" % (
                    iteration, time.time() - start_time, score))
            else:
                break
        i, q, r = ratings.to_numpy()[np.random.randint(n)]
        error = w[i - 1, :] @ h[:, q - 1] + shift_w[i - 1, :] + shift_h[:, q - 1] + l - r
        w[i - 1, :] -= learning_rate * (error * h[:, q - 1].T + reg_parameter * w[i - 1, :])
        h[:, q - 1] -= learning_rate * (error * w[i - 1, :].T + reg_parameter * h[:, q - 1])
        shift_w[i - 1, :] -= learning_rate * (error + reg_parameter * shift_w[i - 1, :])
        shift_h[:, q - 1] -= learning_rate * (error + reg_parameter * shift_h[:, q - 1])
        iteration += 1
    return w @ h + shift_w + shift_h + l, h, score

s, old_h, rmse = svg(64, 1e-2, 1e-5, 2e6, 1e7)
print("Total working time: %s seconds. RMSE = %.8f" % (time.time() - start_time, rmse))

Current iteration 0 working time: 0.44440269470214844 seconds.
 RMSE = 0.00542739

Current iteration 2000000 working time: 61.17354464530945 seconds.
 RMSE = 0.00096322

Current iteration 4000000 working time: 121.78257632255554 seconds.
 RMSE = 0.00088009

Current iteration 6000000 working time: 182.35857772827148 seconds.
 RMSE = 0.00079986

Current iteration 8000000 working time: 242.86551642417908 seconds.
 RMSE = 0.00073553

Total working time: 303.222318649292 seconds. RMSE = 0.00073553

In [3]:
similars(ratings, TOY_MOVIE_ID, 40)

,movie_id,name,category
0,1,Toy Story (1995),Animation|Children's|Comedy
3045,3114,Toy Story 2 (1999),Animation|Children's|Comedy
2286,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy
2692,2761,"Iron Giant, The (1999)",Animation|Children's
1838,1907,Mulan (1998),Animation|Children's
2021,2090,"Rescuers, The (1977)",Animation|Children's
1551,1592,Air Bud (1997),Children's|Comedy
358,362,"Jungle Book, The (1994)",Adventure|Children's|Romance
1016,1029,Dumbo (1941),Animation|Children's|Musical
219,222,Circle of Friends (1995),Drama|Romance
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3409,3478,"Bamba, La (1987)",Drama
3007,3076,Irma la Douce (1963),Comedy
552,556,"War Room, The (1993)",Documentary
2543,2612,Mildred Pierce (1945),Drama
1346,1367,101 Dalmatians (1996),Children's|Comedy
1990,2059,"Parent Trap, The (1998)",Children's|Drama
3400,3469,Inherit the Wind (1960),Drama
2592,2661,It Came from Outer Space (1953),Sci-Fi
942,954,Mr. Smith Goes to Washington (1939),Drama
1011,1024,"Three Caballeros, The (1945)",Animation|Children's|Musical
1010,1023,Winnie the Pooh and the Blustery Day (1968),Animation|Children's
2245,2314,Beloved (1998),Drama
3749,3819,Tampopo (1986),Comedy
2432,2501,October Sky (1999),Drama
2868,2937,"Palm Beach Story, The (1942)",Comedy
2133,2202,Lifeboat (1944),Drama|Thriller|War
3009,3078,Liberty Heights (1999),Drama
3172,3241,"Cup, The (Ph�rpa) (1999)",Comedy
2384,2453,"Boy Who Could Fly, The (1986)",Drama|Fantasy
2953,3022,"General, The (1927)",Comedy
565,569,Little Big League (1994),Children's|Comedy
3406,3475,"Place in the Sun, A (1951)",Drama|Romance
3803,3873,Cat Ballou (1965),Comedy|Western
2338,2407,Cocoon (1985),Comedy|Sci-Fi
3859,3929,"Bank Dick, The (1940)",Comedy
153,155,Beyond Rangoon (1995),Drama|War
2645,2714,"Wood, The (1999)",Drama
3425,3494,True Grit (1969),Adventure|Western
3218,3287,"Tigger Movie, The (2000)",Animation|Children's
773,783,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical

In [4]:
recommend(TEST_USER_ID, 40)

,movie_id,name,category
764,774,Wend Kuuni (God's Gift) (1982),Drama
1127,1143,Three Lives and Only One Death (1996),Comedy
1418,1443,"Tickle in the Heart, A (1996)",Documentary
399,403,Two Crimes (1995),Comedy|Crime|Drama
2208,2277,Somewhere in the City (1997),Drama
2478,2547,Harvest (1998),Drama
638,643,Peanuts - Die Bank zahlt alles (1996),Comedy
1093,1109,Charm's Incidents (1996),Drama
1839,1908,Resurrection Man (1998),Drama|Thriller
763,773,Touki Bouki (Journey of the Hyena) (1973),Drama
927,939,"Reluctant Debutante, The (1958)",Comedy|Drama
3016,3085,"Living Dead Girl, The (La Morte Vivante) (1982)",Horror
2441,2510,Just the Ticket (1999),Comedy|Romance
2487,2556,Telling You (1998),Comedy|Drama|Romance
3126,3195,Tess of the Storm Country (1922),Drama
2415,2484,Tinseltown (1998),Comedy
1778,1847,Ratchet (1996),Drama|Thriller
654,660,August (1996),Drama
3246,3315,Happy Go Lovely (1951),Musical
1294,1314,Breathing Room (1996),Romance
1133,1149,JLG/JLG - autoportrait de d�cembre (1994),Documentary|Drama
1712,1768,Mat' i syn (1997),Drama
2996,3065,Ten Benny (1997),Drama
1718,1774,Mass Transit (1998),Comedy|Drama
1400,1424,Inside (1996),Action
704,713,Of Love and Shadows (1994),Drama
786,796,"Very Natural Thing, A (1974)",Drama
3342,3411,Babymother (1998),Drama
2185,2254,Choices (1981),Drama
1032,1045,Love Is All There Is (1996),Comedy|Drama

### Задание 2. Не использую готовые решения, реализовать матричное разложение используя ALS на implicit данных

In [5]:
EPS = 1e-4

start_time = time.time()

def als(qty_features, learning_rate, reg_parameter, rmse_rate, qty_it):
    n = implicit_ratings.shape[0]
    w = np.random.uniform(0, 1 / np.sqrt(qty_features), (implicit_ratings.user_id.max(), qty_features))
    h = np.random.uniform(0, 1 / np.sqrt(qty_features), (qty_features, implicit_ratings.movie_id.max()))
    iteration = 0
    while iteration < qty_it:
        if iteration % rmse_rate == 0:
            score = calc_score(implicit_ratings, n, w, h)
            if score > EPS:
                print("Current iteration %d working time: %s seconds.\n RMSE = %.8f\n" % (
                    iteration, time.time() - start_time, score))
            else:
                break
        error = c.deepcopy(np.array(w @ h))
        error[implicit_ratings.to_numpy()[:, 0] - 1, implicit_ratings.to_numpy()[:, 1] - 1] -= implicit_ratings.to_numpy()[:, 2]
        if iteration % 2 == 1:
            w -= learning_rate * (error @ h.T + reg_parameter * w)
        else:
            h -= learning_rate * (w.T @ error + reg_parameter * h)
        iteration += 1
    return w @ h, h, score

s, old_h, rmse = als(64, 1e-3, 1e-3, 50, 200)
print("Total working time: %s seconds. RMSE = %.8f" % (time.time() - start_time, rmse))

Current iteration 0 working time: 0.42238378524780273 seconds.
 RMSE = 0.00550033

Current iteration 50 working time: 18.56886053085327 seconds.
 RMSE = 0.00395095

Current iteration 100 working time: 36.74936771392822 seconds.
 RMSE = 0.00369796

Current iteration 150 working time: 54.98092579841614 seconds.
 RMSE = 0.00368126

Total working time: 72.88618302345276 seconds. RMSE = 0.00368126

In [6]:
similars(implicit_ratings, TOY_MOVIE_ID, 25)

,movie_id,name,category
0,1,Toy Story (1995),Animation|Children's|Comedy
3045,3114,Toy Story 2 (1999),Animation|Children's|Comedy
2286,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy
584,588,Aladdin (1992),Animation|Children's|Comedy|Musical
360,364,"Lion King, The (1994)",Animation|Children's|Musical
2692,2761,"Iron Giant, The (1999)",Animation|Children's
1838,1907,Mulan (1998),Animation|Children's
2618,2687,Tarzan (1999),Animation|Children's
1526,1566,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
2252,2321,Pleasantville (1998),Comedy
2225,2294,Antz (1998),Animation|Children's
496,500,Mrs. Doubtfire (1993),Comedy
2315,2384,Babe: Pig in the City (1998),Children's|Comedy
3186,3255,"League of Their Own, A (1992)",Comedy|Drama
1595,1641,"Full Monty, The (1997)",Comedy
582,586,Home Alone (1990),Children's|Comedy
1029,1042,That Thing You Do! (1996),Comedy
139,141,"Birdcage, The (1996)",Comedy
1720,1777,"Wedding Singer, The (1998)",Comedy|Romance
314,317,"Santa Clause, The (1994)",Children's|Comedy|Fantasy
591,595,Beauty and the Beast (1991),Animation|Children's|Musical
3088,3157,Stuart Little (1999),Children's|Comedy
3184,3253,Wayne's World (1992),Comedy
655,661,James and the Giant Peach (1996),Animation|Children's|Musical
3546,3615,Dinosaur (2000),Animation|Children's
2290,2359,Waking Ned Devine (1998),Comedy

In [7]:
recommend(TEST_USER_ID, 25)

,movie_id,name,category
585,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
1271,1291,Indiana Jones and the Last Crusade (1989),Action|Adventure
1182,1200,Aliens (1986),Action|Sci-Fi|Thriller|War
1284,1304,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
957,969,"African Queen, The (1951)",Action|Adventure|Romance|War
1568,1610,"Hunt for Red October, The (1990)",Action|Thriller
2502,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
847,858,"Godfather, The (1972)",Action|Crime|Drama
453,457,"Fugitive, The (1993)",Action|Thriller
1238,1258,"Shining, The (1980)",Horror
1176,1193,One Flew Over the Cuckoo's Nest (1975),Drama
1884,1953,"French Connection, The (1971)",Action|Crime|Drama|Thriller
2460,2529,Planet of the Apes (1968),Action|Sci-Fi
3634,3703,Mad Max 2 (a.k.a. The Road Warrior) (1981),Action|Sci-Fi
2875,2944,"Dirty Dozen, The (1967)",Action|War
1892,1961,Rain Man (1988),Drama
1214,1233,"Boat, The (Das Boot) (1981)",Action|Drama|War
1267,1287,Ben-Hur (1959),Action|Adventure|Drama
1204,1222,Full Metal Jacket (1987),Action|Drama|War
1246,1266,Unforgiven (1992),Western
2847,2916,Total Recall (1990),Action|Adventure|Sci-Fi|Thriller
1928,1997,"Exorcist, The (1973)",Horror
3402,3471,Close Encounters of the Third Kind (1977),Drama|Sci-Fi
2880,2949,Dr. No (1962),Action
2839,2908,Boys Don't Cry (1999),Drama

### Задание 3. Не использую готовые решения, реализовать матричное разложение BPR на implicit данных

In [9]:
start_time = time.time()

def brp(qty_features, learning_rate, reg_parameter, qty_it):
    n = implicit_ratings.shape[0]
    w = np.random.uniform(0, 1 / np.sqrt(qty_features), (implicit_ratings.user_id.max(), qty_features))
    h = np.random.uniform(0, 1 / np.sqrt(qty_features), (qty_features, implicit_ratings.movie_id.max()))
    iteration = 0

    sets = {}
    for i in implicit_ratings.user_id.unique():
        set_positively_reviewed = set(implicit_ratings.loc[implicit_ratings.user_id == i].movie_id)
        set_negatively_reviewed = set(implicit_ratings.movie_id.unique()) - set_positively_reviewed
        sets[i] = MyPair(list(set_positively_reviewed), list(set_negatively_reviewed))

    while iteration < qty_it:
        score = calc_score(implicit_ratings, n, w, h)
        if score <= EPS:
            break
        for i in tqdm(implicit_ratings.user_id.unique()):
            for i_pos, i_neg in sets[i].generate():
                error = 1.0 / (1 + np.exp(w[i - 1, :] @ h[:, i_pos - 1] - w[i - 1, :] @ h[:, i_neg - 1]))
                w[i - 1, :] += learning_rate * (error * (h[:, i_pos - 1].T - h[:, i_neg - 1].T) - reg_parameter * w[i - 1, :])
                h[:, i_pos - 1] += learning_rate * (error * w[i - 1, :].T - reg_parameter * h[:, i_pos - 1])
                h[:, i_neg - 1] += learning_rate * (error * -w[i - 1, :].T - reg_parameter * h[:, i_neg - 1])
        print("Current iteration %d working time: %s seconds.\n Score = %.12f\n" % (
            iteration, time.time() - start_time, score))
        iteration += 1
    return (w @ h), h, score
        
class MyPair:
    def __init__(self, positive, negative):
        self.positively_received = positive
        self.negatively_received = negative

    def generate(self):
        for positive in self.positively_received:
            for negative in np.random.choice(self.negatively_received, 7):
                yield positive, negative


s, old_h, score = brp(64, 1e-2, 1e-4, 6)
print("Total working time: %s seconds. %.12f" % (time.time() - start_time, score))

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:52<00:00, 34.96it/s]

Current iteration 0 working time: 210.45108890533447 seconds.
 Score = 0.005501003630

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:57<00:00, 34.07it/s]

Current iteration 1 working time: 388.1023950576782 seconds.
 Score = 0.003025909793

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:49<00:00, 35.62it/s]

Current iteration 2 working time: 558.0336928367615 seconds.
 Score = 0.002622331539

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:46<00:00, 36.17it/s]

Current iteration 3 working time: 725.4006593227386 seconds.
 Score = 0.002393228557

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:47<00:00, 35.98it/s]

Current iteration 4 working time: 893.6194109916687 seconds.
 Score = 0.002266759528

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6038/6038 [02:47<00:00, 35.99it/s]

Current iteration 5 working time: 1061.803126335144 seconds.
 Score = 0.002241164519

Total working time: 1062.3266017436981 seconds. 0.002241164519

In [10]:
similars(implicit_ratings, TOY_MOVIE_ID, 25)

,movie_id,name,category
0,1,Toy Story (1995),Animation|Children's|Comedy
3045,3114,Toy Story 2 (1999),Animation|Children's|Comedy
2286,2355,"Bug's Life, A (1998)",Animation|Children's|Comedy
1179,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
1245,1265,Groundhog Day (1993),Comedy|Romance
2647,2716,Ghostbusters (1984),Comedy|Horror
2918,2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Film-Noir
584,588,Aladdin (1992),Animation|Children's|Comedy|Musical
33,34,Babe (1995),Children's|Comedy|Drama
1239,1259,Stand by Me (1986),Adventure|Comedy|Drama
1250,1270,Back to the Future (1985),Comedy|Sci-Fi
2252,2321,Pleasantville (1998),Comedy
2735,2804,"Christmas Story, A (1983)",Comedy|Drama
1539,1580,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
1081,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
2728,2797,Big (1988),Comedy|Fantasy
2105,2174,Beetlejuice (1988),Comedy|Fantasy
2849,2918,Ferris Bueller's Day Off (1986),Comedy
1595,1641,"Full Monty, The (1997)",Comedy
3682,3751,Chicken Run (2000),Animation|Children's|Comedy
1120,1136,Monty Python and the Holy Grail (1974),Comedy
1271,1291,Indiana Jones and the Last Crusade (1989),Action|Adventure
1178,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
1180,1198,Raiders of the Lost Ark (1981),Action|Adventure
2722,2791,Airplane! (1980),Comedy
1192,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War

In [11]:
recommend(TEST_USER_ID, 25)

,movie_id,name,category
847,858,"Godfather, The (1972)",Action|Crime|Drama
2502,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
585,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
589,593,"Silence of the Lambs, The (1991)",Drama|Thriller
2789,2858,American Beauty (1999),Comedy|Drama
1575,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
604,608,Fargo (1996),Crime|Drama|Thriller
2693,2762,"Sixth Sense, The (1999)",Thriller
1182,1200,Aliens (1986),Action|Sci-Fi|Thriller|War
1203,1221,"Godfather: Part II, The (1974)",Action|Crime|Drama
453,457,"Fugitive, The (1993)",Action|Thriller
1250,1270,Back to the Future (1985),Comedy|Sci-Fi
523,527,Schindler's List (1993),Drama|War
108,110,Braveheart (1995),Action|Drama|War
1179,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
912,924,2001: A Space Odyssey (1968),Drama|Mystery|Sci-Fi|Thriller
315,318,"Shawshank Redemption, The (1994)",Drama
537,541,Blade Runner (1982),Film-Noir|Sci-Fi
740,750,Dr. Strangelove or: How I Learned to Stop Worr...,Sci-Fi|War
293,296,Pulp Fiction (1994),Crime|Drama
1176,1193,One Flew Over the Cuckoo's Nest (1975),Drama
900,912,Casablanca (1942),Drama|Romance|War
1284,1304,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
907,919,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
0,1,Toy Story (1995),Animation|Children's|Comedy

### Задание 4. Не использую готовые решения, реализовать матричное разложение WARP на implicit данных